@font-face {
    font-family: Questrial;
    src: url("../../static/fonts/Questrial-Regular.ttf");
}

.slidesContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;

    .pages {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        font-family: Questrial;
        color: white;
        position: relative;

        .container {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            float: left;
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            overflow: hidden;

            .titleText {
                opacity: 0.8;
                position: absolute;
                overflow: hidden;
                z-index: 3;
                top: 25%;
                left: 37%;
                font-size: 8vw;
                line-height: 7vw;
                font-weight: 600;
            }

            .leftborder {
                left: 0;
                position: absolute;
                width: 15vw;
                height: 100vh;
                z-index: 1;
                background-color: rgb(1, 4, 21);

                .menu {
                    height: 100px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .text {
                        margin-right: 75px;
                        font-weight: 600;
                    }

                    .nav-icon {
                        margin: 1em;
                        width: 25px;
                    }

                    .nav-icon:after,
                    .nav-icon:before,
                    .nav-icon div {
                        background-color: #fff;
                        border-radius: 3px;
                        content: "";
                        display: block;
                        height: 1px;
                        margin: 7px 0;
                    }
                }
            }

            .rightborder {
                left: calc(100% - 45vw);
                position: absolute;
                width: 45vw;
                height: 100vh;
                z-index: 1;
                background-color: rgb(1, 4, 21);

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .rightArrow {
                    height: 100px;
                    width: 50%;
                    opacity: 0.7;
                    transition: 1s;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                        transition: 1s;
                    }

                    .rightArrowText {
                        position: relative;
                        width: 70%;
                        margin-top: 10px;
                        margin-bottom: 30px;
                        border-bottom: 0.5px solid white;

                        .triangle-right {
                            position: absolute;
                            top: calc(100% - 4px);
                            left: calc(100% - 4px);
                            fill: #fff;
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }

            @keyframes rotating {
                from {
                    -ms-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                to {
                    -ms-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            .mainbackground {
                animation: rotating 45s linear infinite;
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url("../../static/images/black_marble___americas-wallpaper-3840x2160.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                animation: rotating 50s linear infinite;
            }

            .nasaContainer {
                width: 500px;
                opacity: 0.8;

                .logoContainer {
                    width: 500px;
                    overflow: hidden;

                    .overallContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 500px;

                        .textContainer {
                            width: 0px;
                            overflow: hidden;

                            h1 {
                                width: 300px;

                                @media screen and (max-width: 500px) {
                                    display: none;
                                }
                            }
                        }

                        .nasalogo {
                            height: 200px;
                            width: 200px;
                            background-image: url("../../static/images/nasa-2-logo-png-transparent.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            z-index: 1;

                            @media screen and (max-width: 500px) {
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
